<a class="btn" href="/entries/?from=<%= @previous_month.strftime("%d/%m/%Y") %>">
  <span class="icon-backward"></span>
  <%= @previous_month.strftime("%B %Y") %>
</a>

<a class="btn right" href="/entries/?from=<%= @next_month.strftime("%d/%m/%Y") %>">
  <%= @next_month.strftime("%B %Y") %>
  <span class="icon-forward"></span>
</a>
