<div class="container">
  <div class="well well-sm">
    <b>Username:</b> <%= @user.username %></br>
    <b>Mail:</b> <%= @user.email %></br>
    <b>Type:</b> <% if @user.admin? %>Admin<% end %></br>
    <b>Assigned to projects: </b><%= @user.projects.map(&:name).join(", ") %></br>
  </div>
</div>

<%= render "entries" %>
