<div class="container">
  <%if current_user %>
    <b>User Navigation:</b>
    <ul>
      <li><%= link_to "Show Entries", entries_path %></p>
    </ul>
  <% else %>
    <p>Please login in the upper right corner to proceed.
    <p>
  <% end %>
</div>
