<div class="container">
  <div class="well well-sm">
    <b>Project Name:</b> <%= @project.name %></br>
    <b>Assigned Users:</b> <%= @project.users.map(&:username).join(", ") %></br>
  </div>
</div>

<%= render "entries" %>
