.container
  .well.well-sm
    b = "#{t('projects.project_name')}: #{@project.name}"
    b = "#{t('projects.assigned_users')}: #{@project.users.map(&:username).join(", ") }"

= render "entries/entries"
