@font-face {
  font-family: 'icon-font';
  src:url(font-path('icon-font.eot'));
  src:url(font-path('icon-font.eot')) format('embedded-opentype'),
      url(font-path('icon-font.woff')) format('woff'),
      url(font-path('icon-font.ttf')) format('truetype'),
      url(font-path('icon-font.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 768px) {
  .container {
    max-width: 830px;
  }
}

body {
  padding-bottom: 30px;
  font-family: 'Average Sans', Verdana;
  color: $gray;
  background: #CECECE;
}

.topnav {
  position: absolute;
  right: 8px;

  a {
    margin-left: 8px;
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    font-size: 20px;
    background: white;
    color: #333;

    &:hover {
      text-decoration: none;
    }

    &.active {
      position: relative;
      top: -9px;
      background: $gray-lighter;
      border: none;
    }

  }
}

.box {
  position: relative;
  margin-top: 40px;
  border: 1px solid #979797;
  
  padding: 20px;
  background: white;

  h1 {
    position: absolute;
    top: -33px;
    left: 23px;
    border-radius: 3px;
    border: 1px solid #979797;
    padding: 5px 10px;
    font-size: 13px;
    color: $gray;
    background: #D8D8D8;
    font-family: 'Fjalla One', Georgia, serif;
  }

  .alert {
    margin-top: 10px;

    h2 {
      margin-top: 0;
      font-size: 14px;
    }

    li {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .box-nav {
    position: absolute;
    top: -11px;
    right: 10px;

    &.pagination-bottom {
      top: inherit;
      bottom: -11px;
      right: 20px;
    }

    .btn-box {
      margin: 0 10px;
      border-radius: 3px;
      border: 1px solid #979797;
      padding: 5px 10px;
      font-size: 13px;
      color: $gray;
      background: #D8D8D8;
      font-family: 'Fjalla One', Georgia, serif;

      &:hover {
        text-decoration: none;
        background: white;

      }
    }

    span.btn-box {
      background: white;
    }
  }

  .table {

    tbody tr:first-child td {
      border-top: 0;
    }

    .day-summary td {
      padding-top: 30px;
      font-weight: bold;
      border-bottom: 1px solid #333333;

      &:last-child {
        text-align: right;
      }
    }

    .entry {
      color: $gray-dark;

      &:hover {
        td:last-child {
          position:relative;
        }
        .actions {
          display: block;
        }
      }

      .actions {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        padding: 3px 10px;
      }
    }

    .summary {
      th {
        border: 0;

        &:last-child {
          text-align: left;
        }
      }
    }
  }

  #entry-form {
    .form-control {
      margin: 10px 0;
      width: 100%;
      font-size: 14px;
    }

    #entry_time_spent {
      text-align: center;
    }

    .datepicker {
      margin-top: 14px;
      border: none;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }

    .btn-container {
      @media (min-width: $screen-sm-min) {
        margin-left: -10px;
        padding-left: 0;
      }

      .btn {
        @media (min-width: $screen-sm-min) {
          height: 110px;
          width: 60px;
        }
      }
    }
  }
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-detail:before {
  content: "\21";
}
.icon-remove:before {
  content: "\22";
}
.icon-edit:before {
  content: "\23";
}
.icon-users:before {
  content: "\24";
}
.icon-user:before {
  content: "\25";
}
.icon-projects:before {
  content: "\26";
}
.icon-turnoff:before {
  content: "\27";
}
.icon-settings:before {
  content: "\28";
}
